body{
    background-color: blue;
    margin:0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color:white;
    text-align:center; 
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
 
}
.ssi{
    background-color: black;
    
}